{block #content}
<div class="content-wrapper" id="main-content">

	<!-- Main content -->
	<section class="content">

		<div class="row">

			<div class="col-lg-12">

				<h3>TinyMCE formulář</h3>

				{control notification}

				<hr/>
				<div class='clearfix'>

					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#home" data-toggle="tab">Vše</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="home">
							<div class="content panel-body" id="grid" data-link="{plink Components:tinymce}">
								{control tinyMceForm}
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

	</section>

</div>