parameters:
	database:
		driver: mysql
		host: localhost
		dbname: acl
		user: root
		password: *****
		charset: utf8
		collation: utf8_czech_ci

gopay:
	id        : ***
	secretKey : ***
	imagePath : %wwwDir%/images
	testMode  : true
	channels:
	    gopay: 'Gopay - Elektronická peněženka'
	    transfer: 'Bankovní převod'

facebook:
    appId: "1234567890"
    appSecret: "****************************************"
    permissions: [public_profile, email] # theese are the default read permissions, you might need to
    graphVersion: v2.5
		
nette:
	database:
		default:
			dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			user: %database.user%
			password: %database.password%
		
services:
	googleClient:
		class: \Google_Client
		setup:
			- setApplicationName("Google Connect for nette - Sandbox")
			- setClientId("*******")
			- setClientSecret("******")
			- setRedirectUri("*****")
			- setScopes(['https://www.googleapis.com/auth/userinfo.profile', 'https://www.googleapis.com/auth/userinfo.email'])