#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# session.save_path: "%tempDir%/sessions"
	# zlib.output_compression: yes

extensions:
	gettextLatteExtension: h4kuna\Gettext\DI\GettextLatteExtension
	console: Kdyby\Console\DI\ConsoleExtension
	gopay: Markette\Gopay\Extension
	facebook: Kdyby\Facebook\DI\FacebookExtension

gettextLatteExtension:
	langs:
		cs: cs_CZ.utf8
#		sk: sk_SK.utf8
#		en: en_US.utf8

session:
	autoStart: smart
	expiration: +365days
application:
	errorPresenter: Error
	mapping:
		*: App\*Module\*Presenter

services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	componentFactory:
		class: \iComponentFactory
		factory: \ComponentFactory
	authenticator:
		class: \Model\Authenticators\MultiAuthenticator
		setup:
			- addAuthenticator("db", \Model\Authenticators\DbAuthenticator(@userRespository))
			- addAuthenticator("google", \Model\Authenticators\GoogleAuthenticator(@userManager, @googleClient, TRUE))
			- addAuthenticator("facebook", \Model\Authenticators\FacebookAuthenticator(@userManager, @\Kdyby\Facebook\Facebook, TRUE))
	logger: \Services\SQLLogger
	database: @Nette\Database\Context
	registrator: \Model\Registrators\Basic
	authorizator: \Services\Permission\AclPermission
	entityManager: \slimORM\EntityManager(@database, Nette\Caching\Cache(@cacheStorage))
	userRespository: \Model\Permission\UserRepository
	roleRepository: \Model\Permission\RoleRepository
	resourceRepository: \Model\Permission\ResourceRepository
	actionRepository: \Model\Permission\ActionRepository
	permissionRepository: \Model\Permission\PermissionRepository
	modelRepository: \Model\Permission\ModelRepository
	modelManager: \Model\Permission\ModelManager
	permissionManager: \Model\Permission\PermissionManager
	historyRepository: \Model\History\HistoryRepository
	contactRepository: \Model\Contact\ContactRepository
	userManager: \Model\Permission\UserManager