<script>
	/** Hlavní funkce */
	/** ************************************ */
	$(function() {
		var preloader = {$basePath} + '/img/ajaxLoader.gif';
		var grid = $('#main-content #grid');
		$.appForms.confirmDialogTitle = "Varování";
		$.appForms.confirmDialogMessage = "Opravdu vymazat...?";
		$.appForms.confirmDialogGeneratorLinkUrl = {plink generateRoleRemoveUrl!};
		$.appForms.init(preloader, grid);
	});
</script>