<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Skupiny
		<!-- <small>Control panel</small> -->
	</h1>
	<ol class="breadcrumb">
		<li><a href="{$baseUrl}"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="{plink Permission:group}">Nastavení</a></li>
		<li class="active">Skupiny</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

	<div class="row">

		<div class="col-lg-12">

			<div class="btn-toolbar">
				<div class="btn-group">
					<a n:href="loadRoleForm!" id="add" class='btn btn-success'>Přidat</a>
				</div>
				<div class="btn-group">
					<button class="btn btn-danger" id="marked">Odebrat</button>
					<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" href="#" id="dropdown-marked">Označené</a></li>
						<!-- <li><a tabindex="-1" href="#" id="all">Všechny</a></li> -->
					</ul>
				</div>
			</div>

			{control notification}

			<hr />
			<div class='clearfix'>

					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#home" data-toggle="tab">Vše</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="home">
							<div class="content panel-body" id="grid" data-link="{plink refresh!}">
								<span n:snippet="content">
									{include content.latte}
								</span>
							</div>
						</div>
					</div>

			</div>

		</div>

	</div>

</section>