<script>
	$(function() {
		$.appForms.refresh();
	});
</script>
{define row-actions}
<p class="center block">
	<a class="btn btn-small btn-link editable" href="{plink loadResourceForm! $row->aclResourceID}">editovat <span class="icon-edit"></span></a>
	<span>|</span>
	<a class="btn btn-small btn-link removable" href="{plink deleteModel! aclModelID => $row->aclResourceID}">smazat <span class="icon-remove-circle"></span></a>
</p>
{/define}