<script>
	$(function() {
		$.appForms.refresh();
	});
</script>
{define row-actions}
<p class="center block">
	<a title="editovat" class="btn btn-small btn-link editable" href="{plink loadResourceForm! $row->aclResourceID}"><span class="glyphicon glyphicon-pencil"></span></a>
	<span>|</span>
	<a title="smazat" class="btn btn-small btn-link removable" href="{plink deleteModel! aclModelID => $row->aclResourceID}"><span class="glyphicon glyphicon-remove-circle"></span></a>
</p>
{/define}