<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Uživatelé
		<!-- <small>Control panel</small> -->
	</h1>
	<ol class="breadcrumb">
		<li><a href="{$baseUrl}"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="{plink User:}">Nastavení</a></li>
		<li class="active">Uživatelé</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

	<div class="row">

		<div class="col-lg-12">

			<div class="btn-toolbar">
				<div class="btn-group">
					<a n:href="loadForm!" id="add" class='ajax btn btn-success' n:if="$user->isAllowed('user_management', 'add')">Přidat</a>
				</div>
				<div class="btn-group">
					<a n:href="remove!" class="btn btn-danger" id="deactivate" n:if="$user->isAllowed('user_management', 'edit')">Deaktivovat</a>
				</div>
			</div>

			{control notification}

			<hr />
			<div class='clearfix'>

					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#home" data-toggle="tab">Přehled <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active panel" id="home">
							<div class="content panel-body" id="grid" data-link="{link refresh!}">
								<span n:snippet="content">
								{include content.latte}
								</span>
							</div>
						</div>
					</div>

			</div>

		</div>

	</div>

</section>