<script>
	$(function() {
		$.appForms.refresh();
	});
</script>
{define row-actions}
<p class="center block">
	<a class="btn btn-small btn-link editable" href="{plink loadForm! $row->userID}" n:if="$user->isAllowed('user_management', 'edit')">editovat <span class="icon-edit"></span></a>
	<span n:if="$user->isAllowed('user_management', 'edit')">|</span>
	<a class="btn btn-small btn-link removable" href="{plink delete! $row->userID}" n:if="$user->isAllowed('user_management', 'edit')">smazat <span class="icon-remove-circle"></span></a>
</p>
{/define}