<script>
	$(function() {
		$.appForms.refresh();
	});
</script>
{define row-actions}
<p class="center block">
	<a title="editovat" class="btn btn-small btn-link editable" href="{plink loadForm! $row->userID}" n:if="$user->isAllowed('user_management', 'edit')"><span class="glyphicon glyphicon-pencil"></span></a>
	<span n:if="$user->isAllowed('user_management', 'edit')">|</span>
	<a title="deaktivovat" class="btn btn-small btn-link removable" href="{plink delete! $row->userID}" n:if="$user->isAllowed('user_management', 'edit')"><span class="glyphicon glyphicon-remove-circle"></span></a>
</p>
{/define}