<!-- NAVBAR
================================================== -->

{block navbar}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" n:if="$user->isLoggedIn()">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="{$basePath}/dist/img/user.jpg" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{$user->getIdentity()->data['login']}</p>
				<a><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<!--<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
			</div>
		</form>-->
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">HLAVNÍ NAVIGACE</li>
			<li n:class="$control->name == 'Homepage' ? active : ''">
				<a href="{plink Homepage:}">
					<i class="fa fa-dashboard"></i> <span>Dashboard</span>
				</a>
			</li>
			<li n:class="$control->name == 'Gopay' ? active : ''">
				<a href="{plink Gopay:}">
					<i class="fa fa-credit-card"></i> <span>Gopay</span>
				</a>
			</li>
			<li n:class="$control->name == 'Components' ? 'active treeview' : 'treeview'">
				<a href="#">
					<i class="fa fa-desktop"></i> <span>Komponenty</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li n:class="$control->action == 'tinymce' ? active : ''"><a href="{plink Components:tinymce}"><i class="fa fa-circle-o"></i> TinyMCE</a></li>
					<li n:class="$control->action == 'dropzone' ? active : ''"><a href="{plink Components:dropzone}"><i class="fa fa-circle-o"></i> DropZone</a></li>
				</ul>
			</li>
			<li n:if="$user->isAllowed('permission', 'view') || $user->isAllowed('user_management', 'view')" n:class="$control->name == 'User' || $control->name == 'Permission' ? 'active treeview' : 'treeview'">
				<a href="#">
					<i class="fa fa-gears"></i> <span>Nastavení</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li n:if="$user->isAllowed('permission', 'view')" n:class="$control->name == 'Permission' ? 'active':''">
						<a href="#"><i class="fa fa-circle-o"></i> Oprávnění <i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li n:class="$control->name == 'Permission' && $control->action == 'group' ? active : ''"><a href="{plink Permission:Group}"><i class="fa fa-circle-o"></i> Skupiny</a></li>
							<li n:if="$user->isInRole('root')" n:class="$control->name == 'Permission' && $control->action == 'resource' ? active : ''"><a href="{plink Permission:Resource}"><i class="fa fa-circle-o"></i> Moduly</a></li>
							<li n:if="$user->isInRole('root')" n:class="$control->name == 'Permission' && $control->action == 'action' ? active : ''"><a href="{plink Permission:Action}"><i class="fa fa-circle-o"></i> Akce</a></li>
						</ul>
					</li>
					<li n:if="$user->isAllowed('user_management', 'view')" n:class="$control->name == 'User' && $control->action == 'default' ? active : ''"><a href="{plink User:}"><i class="fa fa-circle-o"></i> Uživatelé</a></li>
				</ul>
			</li>
			<li n:if="$user->isAllowed('history', 'view')" n:class="$control->name == 'History' ? 'treeview active' : 'treeview'">
				<a n:href="History:">
					<i class="fa fa-table"></i> <span>Historie</span>
				</a>
			</li>

			<!--<li class="header">LABELS</li>
			<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
			<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
			<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
{/block}