html, body {
	background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.table td {
	vertical-align: middle;
}
.grid-col-actions {
	width: 200px;
}
.center {
	text-align: center;
}
.block {
	margin: 0px;
}
.hidden {
	display: none;
}
.filters input[type="text"] {
	margin-bottom: 0px;
	width: 93%;
}
.col-checkbox {
  width: 40px;
  text-align: center;
}
.col-checkbox input {
	margin: 0px;
}
.filters .col-actions {
	text-align: center;
}
.bs-callout-info {
	border: 1px solid #e8e7e7;
	border-left-color: #5bc0de !important;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border-left-width: 5px;
	border-radius: 3px;
}
.checkbox {
	min-width: 20px;
}
.alert {
	margin-top: 15px;
}
.alert > div > p, .alert > div > ul {
	margin-bottom: 0;
}
.success > div > p, .success > div > ul {
	margin-bottom: 0;
}